@attribute [Authorize]
@page "/client/detail/{clientId}"
@using SunPortal.Cloud.Lib.Interfaces
@using SunPortal.Cloud.Lib.App

@inject IDevicesService DevicesService

@if (_client != null)
{
    <h3>@(_client?.Name)</h3>
}

<div class="mat-elevation-z5 mdc-theme--surface">
    <MatTabGroup>

        <MatTab>
            <LabelContent>
                Devices
            </LabelContent>
            <ChildContent>
                <section>
                    <MatTable Items="@_devices" ShowPaging="false" UseSortHeaderRow="true" AllowSelection="true" SelectionChanged="SelectionChangedEvent">
                        <MatTableHeader>
                            <MatSortHeaderRow>
                                <MatSortHeader SortId="name">
                                    <span style="width:200px">Name</span>
                                </MatSortHeader>
                                <MatSortHeader SortId="count">
                                    <span style="width:200px">Address</span>
                                </MatSortHeader>
                                <MatSortHeader SortId="count">
                                    <span style="width:200px">Manufacture</span>
                                </MatSortHeader>
                                <MatSortHeader SortId="id">
                                    <span>Id</span>
                                </MatSortHeader>
                            </MatSortHeaderRow>
                        </MatTableHeader>
                        <MatTableRow>
                            <td>
                                @context.DeviceType.Name <MatIcon Icon="open_in_new" Style="vertical-align: bottom"></MatIcon>
                            </td>
                            <td>
                                @context.Address
                            </td>
                            <td>
                                @context.DeviceType.ManufactureWebsiteUrl
                            </td>
                            <td>
                                @context.ClientDeviceId
                            </td>
                        </MatTableRow>
                    </MatTable>
                </section>
            </ChildContent>
        </MatTab>
        <MatTab>
            <LabelContent>
                Settings
            </LabelContent>
            <ChildContent>
                <section>
                    Settings
                </section>
            </ChildContent>
        </MatTab>
    </MatTabGroup>
</div>

@code {

    [Parameter]
    public string? ClientId { get; set; }

    private IEnumerable<Device>? _devices;
    private Client? _client;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (string.IsNullOrEmpty(ClientId))
                return;

            var id = Guid.Parse(ClientId);

            _client = await DevicesService.Client(id);
            _devices = await DevicesService.DevicesByClient(id);

            StateHasChanged();
        }
    }

}