@attribute [Authorize]
@page "/client/device/detail/{deviceId}"
@using SunPortal.Cloud.Lib.App
@using SunPortal.Cloud.Lib.Interfaces
@using SunPortal.Cloud.Lib.Parameters

@inject IDevicesService DevicesService

@if (_device != null)
{
    <h3>@_device.DeviceType.Name (@_device.Address)</h3>
    <p>@_device.DeviceType.Description</p>
}
else
{
    <h3>@DeviceId</h3>
}



@if (_parameters != null)
{
    <div class="row">
        @foreach (var parameter in _parameters.Where(x => x.Priority == ParameterPriority.High))
        {
            <div class="col-3">
                <div class="mat-elevation-z5">
                    <h5>@parameter.Description</h5>
                    <LiveValueComponent Device="_device" Parameter="parameter" RequestValueOnInit="true"></LiveValueComponent>
                </div>
            </div>
        }
    </div>
    
    <MatAccordion>
        <MatExpansionPanel>
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>Advance parameters</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <p>params</p>
            </MatExpansionPanelDetails>
        </MatExpansionPanel>

        <MatExpansionPanel>
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>Other parameters</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails Style="padding: 3px !important;">
                <MatTable Items="@_parameters.Where(x => x.Priority == ParameterPriority.Low)" ShowPaging="true" UseSortHeaderRow="true" AllowSelection="true">
                    <MatTableHeader>
                        <MatSortHeaderRow>
                            <MatSortHeader SortId="name">
                                <span style="width:100px">Name</span>
                            </MatSortHeader>
                            <MatSortHeader SortId="unit">
                                <span style="width:100px">Unit</span>
                            </MatSortHeader>
                            <MatSortHeader SortId="description">
                                <span style="width:200px">Description</span>
                            </MatSortHeader>
                            <MatSortHeader SortId="value">
                                <span>Current value</span>
                            </MatSortHeader>
                        </MatSortHeaderRow>
                    </MatTableHeader>
                    <MatTableRow>
                        <td>
                            @context.ParameterId
                        </td>
                        <td>
                            @context.Unit
                        </td>
                        <td>
                            @context.Description
                        </td>
                        <td>
                            <LiveValueComponent Device="_device" Parameter="context"></LiveValueComponent>
                        </td>
                    </MatTableRow>
                </MatTable>
            </MatExpansionPanelDetails>
        </MatExpansionPanel>
    </MatAccordion>
}


@code {

    [Parameter]
    public string? DeviceId { get; set; }

    private IEnumerable<DeviceParameter>? _parameters;
    private Device? _device;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var id = Guid.Parse(DeviceId);

            _parameters = await DevicesService.ParametersByDevice(id);
            _device = await DevicesService.Device(id);

            StateHasChanged();
        }
    }


}