@attribute [Authorize]
@page "/"
@using SunPortal.Cloud.Lib.Interfaces
@using SunPortal.Cloud.Lib.App
@using System.Collections
@using Microsoft.AspNetCore.Identity

@inject IDevicesService Devices
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager

<div class="mat-elevation-z5 mdc-theme--surface">
    <MatTabGroup>
            <MatTab>
                <LabelContent>
                    Statistics
                </LabelContent>
                <ChildContent>
                    <section>
                        Statistics
                    </section>
                </ChildContent>
            </MatTab>
            <MatTab>
                <LabelContent>
                    Settings
                </LabelContent>
                <ChildContent>
                    <section>
                        Settings
                    </section>
                </ChildContent>
            </MatTab>
            <MatTab>
                <LabelContent>
                    Setup
                </LabelContent>
                <ChildContent>
                    <section>
                        Setup
                    </section>
                </ChildContent>
            </MatTab>

        </MatTabGroup>
</div>

@if (_clients != null)
{
    <MatTable Items="@_clients" class="mat-elevation-z5" ShowPaging="false" UseSortHeaderRow="true" AllowSelection="true" SelectionChanged="SelectionChangedEvent">
        <MatTableHeader>
            <MatSortHeaderRow>
                <MatSortHeader SortId="name">
                    <span style="width:200px">Name</span>
                </MatSortHeader>
                <MatSortHeader SortId="count">
                    <span style="width:200px">Devices count</span>
                </MatSortHeader>
                <MatSortHeader SortId="count">
                    <span style="width:200px">Allowed IP address</span>
                </MatSortHeader>
                <MatSortHeader SortId="id">
                    <span>Id</span>
                </MatSortHeader>
            </MatSortHeaderRow>
        </MatTableHeader>
        <MatTableRow>
            <td>
                @context.Name <MatIcon Icon="open_in_new" Style="vertical-align: bottom"></MatIcon>
            </td>
            <td>
                @context.DevicesCount
            </td>
            <td>
                @context.AllowedIpAddress
            </td>
            <td>
                @context.ClientId
            </td>
        </MatTableRow>
    </MatTable>
}
else
{
    <span>Loading...</span>
}



@code{

    private IEnumerable<Client>? _clients;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
    //if (Context.HttpContext?.User != null)
            var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            _clients = await Devices.ClientsByOwner(UserManager.GetUserId(state.User));

            StateHasChanged();
        }
    }


    private void NavigateDetail(Guid id)
    {
        NavigationManager.NavigateTo($"/client/detail/{id}");
    }

    private void SelectionChangedEvent(object row)
    {
        NavigateDetail(((Client) row).ClientId);
        StateHasChanged();
    }

}